body {
    background: var(--app-200);
    color: var(--app-text);
    font-family: "GG Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    font-family: inherit;
}

.content {
    background-color: var(--app-300);
}

hr {
    width: 100%;
    border-radius: 100px;
    border: 1px solid var(--app-400);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.inherit {
    color: inherit;
    text-decoration: none;
}

input[type="text"] {
    background-color: var(--app-100);
    color: var(--app-text);
    border: none;
    border-bottom: 2px solid var(--app-100);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    font-family: 'GG Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    resize: none;
}

input[type="text"]::placeholder {
    color: var(--app-text);
    opacity: 0.5;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid var(--accent);
}

.content {
    max-width: 1000px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin-inline: auto;
    min-height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-end;
    margin-top: 0.25rem;
}

.buttons .button {
    margin: 0;
}

.container {
    text-align: center;
    background-color: var(--app-000);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@supports (corner-shape: superellipse(2)) {

    .button,
    .reset {
        border-radius: 50px;
        corner-shape: superellipse(2);
    }

    .container {
        border-radius: 50px;
        corner-shape: superellipse(2);
    }
}