:root {
    --color: #f5f2ff;
    --color-light: #2c2e50;

    --bg-000: #0d0d0e;
    --bg-100: #121214;
    --bg-200: #14131a;
    --bg-300: #201f28;
    --bg-400: #302b41;
    --bg-500: #3b3748;

    --bg-light-000: #e7e7f5;
    --bg-light-100: #d1d1e0;
    --bg-light-200: #d2d2e3;
    --bg-light-300: #d1d1e0;
    --bg-light-400: #c9c9d6;
    --bg-light-500: #c1c1d3;

    --accent: #b098e9;

    --green-100: #23a55a;
    --green-200: #1b924d;
    --red-100: #e33b3f;
    --red-200: #d62b2f;
    --blue-100: #5865f2;
    --blue-200: #4f5be0;
}

body {
    background: var(--bg-light-200);
    color: var(--color-light);
    font-family: "GG Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    font-family: inherit;
}

.content {
    background-color: var(--bg-light300);
}

hr {
    width: 100%;
    border-radius: 100px;
    border: 1px solid var(--bg-light-400);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.inherit {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: var(--bg-light-400);
    color: var(--color-light);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-family: 'GG Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.2s cubic-bezier(.2, 0, 0, 1);
}

button:hover {
    background-color: var(--bg-light-500);
}

input[type="text"] {
    background-color: var(--bg-light-100);
    color: var(--color-light);
    border: none;
    border-bottom: 2px solid var(--bg-light-100);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    font-family: 'GG Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    resize: none;
}

input[type="text"]::placeholder {
    color: var(--color-light);
    opacity: 0.5;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid var(--accent);
}

.content {
    max-width: 1000px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin-inline: auto;
    min-height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-end;
    margin-top: 0.25rem;
}

.container {
    text-align: center;
    background-color: var(--bg-light-000);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

@supports (corner-shape: superellipse(2)) {
    .button, .reset {
        border-radius: 50px;
        corner-shape: superellipse(2);
    }

    .container {
        border-radius: 50px;
        corner-shape: superellipse(2);
    }
}